body
{
    padding: 0;
    margin: 0;
}

.container
{
    display: flex;
    flex-direction: column;
}

.header
{
    height: 15vh;
    width: 100%;
    text-align: center;
    font-family: 'comic sans ms';
    background-image: url("../img/header.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_title
{
    font-size: 10vh;
    color: blue;
    margin: 0;
    padding: 0;
}

.nav
{
    height: 5vh;
    background-color: green;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.nav_link
{
    flex-grow: 1;
    font-size: 45px;
    text-decoration: none;
    color: yellow
}

.content
{
    margin: 20px;
}

.footer
{
    text-align: center;
    display: flex;
    justify-content: center;
}
.footer_container
{
    border: 5px solid black;
    width: 800px;
}
.footer_title
{
    font-size: 400%;
}

.copyright
{
    font-size: 200%;
}

.content_title
{
    text-align: center;
}
